<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="image/DSC_0517-01.jpeg" />
    </div>
    {{>footer}}
  </body>
</html>